<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" id="modal-holder">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Property</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= simple_form_for(@property, html: { class: "w-100" }) do |f| %>
        <div class="modal-body">
          <div class="row mb-4">
            <div class="col-6">
              <%= f.input :address,
                input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
              %>
            </div>
            <div class="col-6">
              <%= f.input :bedrooms, collection: (1..5), include_blank: false %>
            </div>
          </div>
          <%= f.input :property_type, :collection => %w[Unit House], as: :radio_buttons, wrapper_html: { class: "mb-4"},
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper',
                item_wrapper_class: 'category-item',
                input_html: {class: 'category-selector'},
                collection: Property::CATEGORIES %>
          <%= f.input :photo, as: :file, wrapper_html: { class: "mb-4" } %>
        </div>
        <div class="modal-footer justify-content-center">
          <%= f.submit class: "btn btn-primary w-50 rounded-pill", value: "Create", id: "create-button"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
