<%= link_to property_path(property), class: "index-property-card" do %>

  <div class="index-property-image" style="background-image: linear-gradient(rgba(0,0,0, 0.1), rgba(0,0,0,0.1)), url()">

    <div class="property-address">
      <% if property.property_type == "unit" %>
        <i class="fa-solid fa-building text-white "></i>
      <% else %>
        <i class = "fa-solid fa-house text-white "></i>
      <% end %>
      <div>
        <h3><%= property.address.split(",")[0] %></h3>
        <p><%= property.address.split(",")[1] %> • <%= property.address.split(",")[2]%></p>
      </div>
    </div>

    <div class="property-key-info">
      <div>
        <i class="<%= property.profitable? %>" id="money-icon"></i>
        <p>$ <%= property.total_profit.to_i %></p>
      </div>
      <div>
        <i class="fa-solid fa-bed text-warning text-white"></i>
        <p><%= property.bedrooms %></p>
      </div>
      <div>
        <i class="fa-solid fa-calendar text-white"></i>
        <p><%= rand(Date.civil(2022, 1, 1)..Date.civil(2022, 12, 31)).strftime("%d/%m/%y")%> - <%= rand(Date.civil(2023, 1, 1)..Date.civil(2023, 12, 31)).strftime("%d/%m/%y") %></p>
      </div>
    </div>

    <div class="blur-background"></div>

  </div>
<% end %>
