<h2>Transactions</h2>

<div class="container" style="margin-top: 10px;">
  <div class="row">
    <ul class="nav nav-pills justify-content-center mb-5">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="pill" href="#last">Last Financial Year (21/22)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" href="#current">Current Financial Year (22/23)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" href="#month">This Month (<%= Time.now.strftime("%B") %>)</a>
      </li>
    </ul>
  </div>

  <div class="tab-content">


    <div class="tab-pane container active" id="last">
      <div class="dashboard-container pt-3">
        <% @transactions.each do |transaction| %>
          <% if transaction.date < "2022-07-01".to_date && transaction.date > "2021-06-30".to_date %>
              <%= transaction.date %> - <%= transaction.description %>, $<%= transaction.amount %>
          <% end  %>
        <% end %>
      </div>
    </div>


    <div class="tab-pane container fade" id="current">
      <div class="row justify-content-center">
        <div class="col">
          <div class="dashboard-container pt-3">
            <div class="d-flex flex-row">
              <div class="w-25 text-center">
                <h5>Date</h5>
              </div>
              <div class="w-50 text-center">
                <h5>Description</h5>
              </div>
              <div class="w-25">
                <h5>Amount</h5>
              </div>
            </div>
            <% @transactions.each do |transaction| %>
              <% if transaction.date > "2022-06-30".to_date %>
                <div class="d-flex flex-row">
                  <div class="w-25 text-center ">
                    <%= transaction.date.strftime("%Y %b %d ") %>
                  </div>

                  <div class="w-50">
                    <%= transaction.description %>
                  </div>

                  <div class="w-25">
                    $<%= transaction.amount.to_i %>
                  </div>
                </div>
              <% end  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-pane container fade" id="month">
      <div class="dashboard-container pt-3">
        <% @transactions.each do |transaction| %>
          <% if transaction.date.month == Time.now.month %>
              <%= transaction.date %> - <%= transaction.description %>, $<%= transaction.amount %>
          <% end  %>
        <% end %>
      </div>
    </div>


  </div>
</div>
