<div class="transaction-container">
  <div class="label">
    <div class="scroll-fade"></div>
    <div class="head">Transaction Summary</div>
    <div class="row">


      <div class="filter-dropdown">
        <%= form_with url: property_path(@property), method: :get do %>
        <%= select_tag :filter, options_for_select([ "Show All", "Maintenance", "Mortgage", "Rental Income", "Utilities", "Other" ], "Show All")
          %>
        <%= submit_tag "Filter", class: "filter-btn" %>
        <% end %>
      </div>


      <ul class="nav nav-pills justify-content-center">
        <% unless @last.empty? %>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#last">Last Financial Year (21/22)</a>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="pill" href="#current">Current Financial Year (22/23)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#month"><%= Time.now.strftime("%B") %></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="tab-content">


    <div class="tab-pane container fade" id="last">
      <div class="row justify-content-center">
        <div class="d-flex flex-row details">
          <div class="left-col">
            <h5>Date</h5>
          </div>
          <div class="desc-col text-center">
            <h5>Description</h5>
          </div>
          <div class="amnt-col">
            <h5>Amount</h5>
          </div>
        </div>
        <div class="summary-box">
          <% if @last.empty? %>
            <div class="no-data">
              There is no data recorded for this time period
            </div>
          <% else %>
            <% @last.each do |transaction| %>
              <div class="d-flex flex-row list <%= transaction.cash_flow_type == "Revenue" ? "light-green" : "light-red" %>">
                <div class="left-col">
                  <%= transaction.date.strftime("%Y %b %d ") %>
                </div>
                <div class="w-75 text-start">
                  <%= transaction.description %>
                </div>
                <% if transaction.cash_flow_type == "Revenue" %>
                  <div class="pos">
                    $<%= transaction.amount.round %> <i class="green fa-solid fa-caret-up"></i>
                  </div>
                <% else %>
                  <div class="pos">
                    $<%= transaction.amount.round %> <i class="red fa-solid fa-caret-down"></i>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>


    <div class="tab-pane container active" id="current">
      <div class="row justify-content-center">
        <div class="d-flex flex-row details">
          <div class="left-col">
            <h5>Date</h5>
          </div>
          <div class="desc-col text-center">
            <h5>Description</h5>
          </div>
          <div class="amnt-col">
            <h5>Amount</h5>
          </div>
        </div>
        <div class="summary-box">
          <div class="transaction-list">
            <% @current_count = 0 %>
            <% if @current.empty? %>
              <div class="no-data">
                <p>There is no data recorded for this time period</p>
              </div>
            <% else %>
              <% @current.each do |transaction| %>
                <div class="d-flex flex-row list <%= transaction.cash_flow_type == "Revenue" ? "light-green" : "light-red" %>">
                  <div class="left-col">
                    <%= transaction.date.strftime("%Y %b %d ") %>
                  </div>
                  <div class="transaction-description">
                    <%= transaction.description %>
                    <div>
                      <a class="transaction-edit-btn" data-action="click->update-modal#updateForm">
                        <i class="fa-solid fa-pen-to-square pe-2"></i> <span class="d-none" id="propertyId"><%= @property.id %></span><span class="d-none" id="transactionId"><%= transaction.id %></span>
                      </a>
                      <%= link_to transaction_path(transaction), data: { turbo_method: :delete }, class: "transaction-delete-btn" do %>
                        <i class="fa-sharp fa-solid fa-trash"></i>
                      <% end %>
                    </div>
                  </div>
                  <% if transaction.cash_flow_type == "Revenue" %>
                    <div class="pos">
                      $<%= transaction.amount.round %> <i class="green fa-solid fa-caret-up"></i>
                    </div>
                    <% @current_count += transaction.amount.round %>
                  <% else %>
                    <div class="pos">
                      $<%= transaction.amount.round %> <i class="red fa-solid fa-caret-down"></i>
                    </div>
                    <% @current_count -= transaction.amount.round %>
                  <% end  %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="summary-footer">
            <% if @current_count.negative? %>
              <div class="total light-red">
                Net Cash Flow = -$<%= @current_count * -1 %> <i class="red fa-solid fa-caret-down ps-2"></i>
              </div>
            <% else %>
              <div class="total light-green">
                Net Cash Flow = $<%= @current_count %> <i class="green fa-solid fa-caret-up ps-2"></i>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-pane container fade" id="month">
      <div class="row justify-content-center">
          <div class="d-flex flex-row details">
            <div class="left-col">
              <h5>Date</h5>
            </div>
            <div class="desc-col text-center">
              <h5>Description</h5>
            </div>
            <div class="amnt-col">
              <h5>Amount</h5>
            </div>
          </div>
          <div class="summary-box">
            <% if @month.empty? %>
              <div class="no-data">
                <p>There is no data recorded for this time period</p>
              </div>
            <% else %>
              <% @month.each do |transaction| %>
                <div class="d-flex flex-row list <%= transaction.cash_flow_type == "Revenue" ? "light-green" : "light-red" %>">
                  <div class="left-col">
                    <%= transaction.date.strftime("%b %d") %>
                  </div>
                  <div class="w-75 text-start">
                    <%= transaction.description %>
                  </div>
                  <% if transaction.cash_flow_type == "Revenue" %>
                    <div class="pos">
                      $<%= transaction.amount.round %> <i class="green fa-solid fa-caret-up"></i>
                    </div>
                  <% else %>
                    <div class="pos">
                      $<%= transaction.amount.round %> <i class="red fa-solid fa-caret-down"></i>
                    </div>
                  <% end  %>
                </div>
              <% end %>
            <% end  %>
          </div>
      </div>
    </div>
  </div>
</div>
