<div class="transaction-container">
  <div class="label">
    <div class="head">Transaction Summary</div>
    <div class="row">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="pill" href="#last">Last Financial Year (21/22)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#current">Current Financial Year (22/23)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#month">This Month</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="tab-content">


    <div class="tab-pane container active" id="last">
      <div class="row justify-content-center">
        <div class="d-flex flex-row details">
          <div class="leftcol ml-3">
            <h5>Date</h5>
          </div>
          <div class="w-75 text-center">
            <h5>Description</h5>
          </div>
          <div class="w-auto">
            <h5>Amount</h5>
          </div>
        </div>
        <% @transactions.each do |transaction| %>
          <% if transaction.date < "2022-07-01".to_date && transaction.date > "2021-06-30".to_date %>
            <div class="d-flex flex-row list <%= transaction.cash_flow_type == "Revenue" ? "light-green" : "light-red" %>">
              <div class="leftcol">
                <%= transaction.date.strftime("%Y %b %d ") %>
              </div>
              <div class="w-75 text-start">
                <%= transaction.description %>
              </div>
              <% if transaction.cash_flow_type == "Revenue" %>
                <div class="pos">
                  $<%= transaction.amount.round %> <i class="green fa-solid fa-caret-up"></i>
                </div>
              <% else %>
                <div class="pos">
                  $<%= transaction.amount.round %> <i class="red fa-solid fa-caret-down"></i>
                </div>
              <% end  %>
            </div>
          <% end  %>
        <% end %>
      </div>
    </div>


    <div class="tab-pane container fade" id="current">
      <div class="row justify-content-center">
          <div class="d-flex flex-row details">
            <div class="leftcol ml-3">
              <h5>Date</h5>
            </div>
            <div class="w-75 text-center">
              <h5>Description</h5>
            </div>
            <div class="w-auto">
              <h5>Amount</h5>
            </div>
          </div>
          <% @transactions.each do |transaction| %>
            <% if transaction.date > "2022-06-30".to_date %>
              <div class="d-flex flex-row list <%= transaction.cash_flow_type == "Revenue" ? "light-green" : "light-red" %>">
                <div class="leftcol">
                  <%= transaction.date.strftime("%Y %b %d ") %>
                </div>
                <div class="w-75 text-start">
                  <%= transaction.description %>
                </div>
                <% if transaction.cash_flow_type == "Revenue" %>
                  <div class="pos">
                    $<%= transaction.amount.round %> <i class="green fa-solid fa-caret-up"></i>
                  </div>
                <% else %>
                  <div class="pos">
                    $<%= transaction.amount.round %> <i class="red fa-solid fa-caret-down"></i>
                  </div>
                <% end  %>
              </div>
            <% end  %>
          <% end %>
      </div>
    </div>


    <div class="tab-pane container fade" id="month">
      <div class="row justify-content-center">
          <div class="d-flex flex-row details">
            <div class="leftcol ml-3">
              <h5>Date</h5>
            </div>
            <div class="w-75 text-center">
              <h5>Description</h5>
            </div>
            <div class="w-auto">
              <h5>Amount</h5>
            </div>
          </div>
          <% @transactions.each do |transaction| %>
            <% if transaction.date.month == Time.now.month && transaction.date.year == Time.now.year %>
              <div class="d-flex flex-row list <%= transaction.cash_flow_type == "Revenue" ? "light-green" : "light-red" %>">
                <div class="leftcol">
                  <%= transaction.date.strftime("%Y %b %d ") %>
                </div>
                <div class="w-75 text-start">
                  <%= transaction.description %>
                </div>
                <% if transaction.cash_flow_type == "Revenue" %>
                  <div class="pos">
                    $<%= transaction.amount.round %> <i class="green fa-solid fa-caret-up"></i>
                  </div>
                <% else %>
                  <div class="pos">
                    $<%= transaction.amount.round %> <i class="red fa-solid fa-caret-down"></i>
                  </div>
                <% end  %>
              </div>
            <% end  %>
          <% end %>
      </div>
    </div>
  </div>
</div>
