<div>
  <%= render "dashboardnavbar" %>
  <div class="col-6" data-properties-target="addpropertyform">
      <%= render "addpropertyform" %>
  </div>
  <div class="container index-container">
    <div class="row d-flex mt-3">
      <div class="col-6 detailbox">
        <div class="graphing">
          <div class="indexOverview--header">
            <p class="indexOverview--headerIn">
              <h2>Overview</h2>
            </p>
          </div>
          <div class="graph bg-white rounded">
            <% data_hash = {} %>
            <% Property.all.each do |property| %>
              <% data_hash[property.address] = property.total_profit %>
            <% end %>
            <%= column_chart data_hash, title: "All Properties (Net Income)", prefix: "$", download: {background: "#ffffff"}, colors: ["#f6bd60", "#84a59d", "#f7ede2", "#f5cac3", "#f28482"] %>
          </div>
        </div>
        <div class="maping">
          <div class="indexOverview--header">
            <p class="indexOverview--headerIn">
              <h2>Properties Location</h2>
            </p>
          </div>



          <div style="width: 100%; height: 300px; border-radius: 5px;"
            data-controller="maps"
            data-maps-markers-value="<%= @markers.to_json %>"
            data-maps-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>



        </div>
      </div>

    <div class="col-6 propertybox">
      <%= render @properties %>
    </div>
  </div>
</div>
