<div>
  <%= render "dashboardnavbar" %>
  <div class="col-6" data-properties-target="addpropertyform">
      <%= render "addpropertyform" %>
  </div>
  <div class="container index-container">
    <div class="row d-flex mt-3">
      <div class="col-6 detailbox">
        <div class="graphing">
          <div class="indexOverview--header">
            <p class="indexOverview--headerIn">
              <h2>Overview</h2>
            </p>
          </div>
          <div class="graph bg-white rounded">
            <% data_hash = {} %>
            <% Property.all.each do |property| %>
              <% data_hash[property.address] = property.total_profit %>
            <% end %>
            <%= column_chart data_hash, title: "All Properties (Net Income)", prefix: "$", download: {background: "#ffffff"}, colors: ["#6a4c93", "#1982c4", "#8ac926", "#ffca3a", "#ff595e"] %>
          </div>
        </div>
        <div class="maping">
          <div class="indexOverview--header">
            <p class="indexOverview--headerIn">
              <h2>Properties Location</h2>
            </p>
          </div>



          <div style="width: 100%; height: 300px; border-radius: 5px;"
            data-controller="maps"
            data-maps-markers-value="<%= @markers.to_json %>"
            data-maps-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>



        </div>
      </div>

    <div class="col-6 propertybox">

      <%= render @properties %>

     # <% @properties.each do |property| %>
#   <%= link_to property_path(property), class: "indexpanel" do %>
#     <div class="indexOverview--header">
#       <p class="indexOverview--headerIn">
#         <h2><%= property.address%></h2>
#       </p>
#     </div>
#     <div class="row index-card-row">
#       <div class="col-8 index-card-img">
#         <%= cl_image_tag property.photo.key, id: "propimg" %>
#       </div>
#       <div class="col-4 index-card-summary">
#           <ul>
#             <li class="d-flex pt-5">
#               <i class="fa-solid fa-bed text-warning"></i>
#               <p><%= property.bedrooms %></p>
#             </li>
#             <li class="d-flex">
#               <% if property.property_type == "unit" %>
#                 <i class="fa-solid fa-building text-black "></i>
#                 <p>Unit</p>
#               <% else %>
#                 <i class = "fa-solid fa-house text-black "></i>
#                 <p> House</p>
#               <% end %>
#               <li class="d-flex">
#                 <i class="<%= property.profitable? %>"></i>
#                 <p>$<%= property.total_profit.to_i %></p>
#               </li>
#               <li class="d-flex">
#                 <p><i class="fa-solid fa-building-columns text-black"></i>$<%= rand(300000..500000) %></p>
#               </li>
#             </li>
#             <li class="d-flex">
#               <p></i><%= rand(Date.civil(2022, 1, 1)..Date.civil(2022, 12, 31))%> till <%= rand(Date.civil(2023, 1, 1)..Date.civil(2023, 12, 31))%></p>
#             </li>
#           </ul>
#         </div>
#     </div>
#   <% end %>
# <% end %>

    </div>
  </div>
</div>
