<div class="container mt-3">
  <h1>Show Page</h1><br>
  <%= @property.address %><br>
  <%= @property.bedrooms %> bedrooms<br>
  it is a <%= @property.property_type %>

  <%= render "key_statistics", property: @property %>

  <div class="row justify-content-center">
    <div class="col-6">
      <%= render "transactions/form" %>
    </div>
  </div>

  <div class="section bg-warning bg-gradient p-3 mb-3 mt-3">
    <%= render "transactions" %>
  </div>
</div>
