
<div data-controller="transactions">
  <%= render "propertynavbar", property: @property %>
  <div class="container">

    <!-- <div class="container mt-3">
    <h1>Show Page</h1><br>
    <%= @property.address %><br>
    <%= @property.bedrooms %> bedrooms<br>
    it is a <%= @property.property_type %>-->


    <%= render "key_statistics", property: @property %>
    <div class="container">
    <br>
      <%revenue = @property.transactions.revenues.sum(:amount)%>
      <%expense = @property.transactions.expenses.sum(:amount)%>
      <%= bar_chart [["revenue", revenue],["expense", expense]],colors: ["#84a59d","#f5cac3", "#f28482", "#f7ede2", "#f5cac3", "#84a59d",], donut:true, title: @property.address %>      <br>
    </div>


  <div class="row justify-content-center">
    <div class="col-6" data-transactions-target="form">
      <%= render "transactions/form" %>

    </div>
    <div class="row justify-content-center">
      <div class="col-6 d-none" data-transactions-target="form">
        <%= render "transactions/form" %>
      </div>
    </div>

  <div class="section bg-gradient p-3 mb-3 mt-3">
    <%= render "transactions" %>
  </div>

</div>
