<div data-controller="transactions">
  <%= render "propertynavbar", property: @property %>
  <div class="container">

    <div class="col-6" data-transactions-target="form">
      <%= render "transactions/form" %>
    </div>

    <%= render "key_statistics", property: @property %>

    <div class="transaction-container">
      <div class="tab-content">

        <div class="tab-pane container active" id="transactions">
          <div class="section">
            <%= render "transactions" %>
          </div>
        </div>

        <div class="tab-pane container fade" id="graphs">
          <%= render "graphs" %>
        </div>

      </div>
    </div>
  </div>
</div>
