<div class="modal-body">
  <%= simple_form_for [property, transaction], data: { controller: "submit-transaction", action: "submit->submit-transaction#submitForm" } do |t| %>
    <%= t.input :cash_flow_type, :collection => %w[Revenue Expense], as: :radio_buttons, wrapper_html: { class: "mb-4"},
        collection_wrapper_tag: 'div',
        collection_wrapper_class: 'category-wrapper',
        item_wrapper_class: 'category-item',
        input_html: {class: 'category-selector'},
        collection: Transaction::CATEGORIES %>
    <%= t.input :date %>
    <%# t.input :frequency, collection: [ ["weekly", 7], ["monthly", 30], ["quarterly", 120] ] %>
    <%= t.input :category, collection: ["Maintenance", "Mortgage", "Rental Income", "Utilities", "Other"], include_blank: false %>
    <%= t.input :amount, placeholder: "200 AUD" %>
    <%= t.input :description, placeholder: "Electricity" %>
    <div class="modal-footer justify-content-center">
      <%= t.submit class: "btn btn-primary w-50 rounded-pill", value: "Create", id: "create-button" %>
    </div>
  <% end %>
</div>
